{% render 'views/head.liquid' %}

<header>
  <nav class="header-nav">
    <span class="map-title-btn">{{ snap.snapmap.name }}</span>
  </nav>
</header>

<main class="snap-detail">
  <div class="snap-detail-photo">
      <img src="https://fdnd-agency.directus.app/assets/{{ snap.picture.id }}" alt="{{ snap.author.name }}" style="view-transition-name: snap-{{ snap.uuid }}">
  </div>

  <div class="snap-detail-info">
    <p class="snap-detail-author">{{ snap.author.name }}</p>
    <p class="snap-detail-location">{{ snap.location }}</p>
    <p class="snap-detail-date">{{ snap.date_created | date: '%d %B %Y, %H:%M' }}</p>
  </div>
</main>

{% render 'views/foot.liquid', activePage: activePage %}
